@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-400: #a4a7ae;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-800: #252b37;
  --color-gray-900: #101828;
  
  --color-primary-25: #fffbeb;
  --color-primary-50: #fffbeb;
  --color-primary-100: #fef3c6;
  --color-primary-200: #fee685;
  --color-primary-300: #ffd230;
  --color-primary-400: #ffb900;
  --color-primary-500: #fe9a00;
  --color-primary-600: #e17100;
  --color-primary-700: #bb4d00;
  --color-primary-800: #973c00;
  --color-primary-900: #7b3306;
}

@layer components {
  .form-input {
    @apply py-[10px] px-2.5 rounded-lg border border-gray-300 bg-white shadow-sm text-gray-500;
  }
}

@layer base {
  h1 {
    font-size: 48px;
    @apply text-gray-900;
  }

  h2 {
    font-size: 36px;
    @apply text-gray-900;
  }

  h3 {
    font-size: 30px; 
    @apply text-gray-900;
  }
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}



.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}